@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Teko', sans-serif;
  background-color: black;
  color: white;
  scroll-snap-type: y mandatory;
}

header {
  background-color: #262626;
  position: fixed;
  width: 100%;
}

li {
  list-style: none;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

section {
  height: calc(100vh - 70px);
  padding-top: 70px;
  scroll-snap-align: start;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-logo {
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.nav-link:hover {
  color: lightskyblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

main {
  width: 30rem;
  margin: 0 auto;
}

#home {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name avatar"
    "bio bio";
}

#name {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
}

#avatar {
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

#bio {
  grid-area: bio;
}

#avatar > img {
  width: 150px;
  border-radius: 50%;
}

#name > h1 {
  font-size: 3rem;
}

#name > h2 {
  font-size: 1.5rem;
}

@media(max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav-item {
    margin: 16px 0;
    padding: 50px;
  }

  .nav-menu.active {
    left: 0;
  }

  a {
    font-size: 2.5rem;
    line-height: 2.5;
    padding: 20px;
    margin: -20px;
  }

  main {
    width: 20rem;
  }
}