@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html {
  scroll-snap-type: y mandatory;
  font-family: 'Teko', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.25em;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 30px;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 5px 5px; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: grey;
}

#mooncake {
  width: 50px;
  position: fixed;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

#avatar {
  width: 300px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 19%;
}

#info {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 38%;
}

#info h1 {
  margin: 0;
  padding: 0;
}

#info h2 {
  margin: 0;
  padding: 0;
}

#pdf {
  position: absolute;
  right: 10%;
}